.is-invalid {
    border-color: #ff2832;
}

// DASHBOARD PAGE
.account-links {
    display: block;
    background-color: #fff;
    color: #555;
    padding: 25px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1em;
}